@font-face {
    font-family: Nexa Bold;
    src: url("../fonts/Nexa_Free_Bold-webfont.ttf");
}
@font-face {
    font-family: Nexa Light;
    src: url("../fonts/Nexa_Free_Light-webfont.ttf");
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color:#ffffff;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Nexa Bold', sans-serif;
}
h1 { font-size:65px; }
h2 { font-size:45px; }
h3 { font-size:24px; }
h4 { font-size:20px; }
h5 { font-size:18px; }
h6 { font-size:16px; }
p,li,a { 
	font-size: 18px; 
	font-family: 'Nexa Light', sans-serif;
}
a { font-family: 'Nexa Bold', sans-serif; }
p { line-height: 1.6; }
.smaller * {
	font-size: 15px !important;
}
/* .row { width: 100%; } */

.container-fluid {
	max-width: 1903px;
	width: 100%;
	padding: 0px;
	position: relative;
}
.header { padding: 30px 40px; }
.header .logo {
	min-width: 300px;
}
nav, .social-icons {
	display: inline-block;
}
nav ul, .social-icons ul {
	margin: 0;
	padding: 0;
}
nav li,
.social-icons li {
	list-style-type: none;
	display: inline-block;
	padding: 20px 10px;
}
nav li a,
.social-icons li a {
	color: #000000;
	text-transform: uppercase;
	padding: 5px;
	font-size: 14px;
}
nav li.current-menu-item a, nav li:hover a {
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
}
.page-template-booking-form .inner-content {
    padding-top: 0;
}
.page-template-booking-form .pagetitle {
	border-bottom: 5px solid #000000;
}
.frs-slideshow-container {
	margin-top: 15px !important;
}
.main-slider {
	background: url("../images/slide1.jpg") center center no-repeat;
	color: #ffffff;
}
.frs-caption-content h4 {
	display: none;
}
.frs-caption-content p {
	font-size: 34px !important;
	line-height: 34px !important;
}
.frs-slider-nav .frs-arrow-right {
	background: url("../images/slider-arrow-right.png") 0 0 no-repeat !important;
	width: 92px !important;
	height: 18px !important;
	margin-right: 20px;
}
.frs-slider-nav .frs-arrow-left {
	background: url("../images/slider-arrow-left.png") 0 0 no-repeat !important;
	width: 92px !important;
	height: 18px !important;
	margin-left: 20px;
}
.brushbg1 { 
	position: relative; 
}
.brushbg1:before {
	content: '';
	background: url("../images/brush1-pink.png") 0 0 no-repeat;
	width: 100%;
	max-width: 839px;
	height: 191px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.brushbg1:after {
	content: '';
	background: url("../images/brush2-pink.png") 0 0 no-repeat;
	width: 100%;
	max-width: 963px;
	height: 136px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.brushbg2 {
	background: url(../images/brush5-pink.png) 0 45px no-repeat;
    background-size: contain;
}
.brushbg3 {
	background: url(../images/brush3-gray.png) 0 45px no-repeat;
    background-size: contain;
}
.facebg1 {
	background: #ffffff url("../images/face1.png") no-repeat;
}
.facebg2 {
	background: #020202 url("../images/face2.jpg") no-repeat;
    background-position: calc(100% + 450px) center;
}
.pagetitle {
	text-align: center;
	color: #ffffff;
	background-size: cover !important;
	padding: 70px 15px;
}
.pagetitle h1 { margin: 0; }
.inner-content {
	padding: 60px 40px;
}
.classes-table {
	margin: 30px 0 60px 0;
	padding: 0;
	border: 1px solid #000;
}
.classes-table li {
	list-style-type: none;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid #000;
}
.classes-table li:last-child {
	border-bottom: 0;
}
.classes-table li p {
	margin-bottom: 0;
}
.classes-table li:after {
	content: '+';
	right: 10px;
	top: 10px;
	position: absolute;
	font-size: 30px;
}
.classes-table .accordion-title {
	padding: 10px;
}
.classes-table .accordion-content {
	background: black;
	color: white;
	padding: 20px;
}
.accordion {
	margin-bottom: 0;
}
.accordion .panel {
	margin-top: -1px !important;
}
.accordion .panel-heading {
	background: white;
}
.accordion .panel-body {
	font-family: Nexa Light;
}
.accordion .panel-title a {
	display: block; width: 100%; text-decoration: none;
	font-weight: normal;
	text-transform: none;
	padding: 7px;
	position: relative;
	padding-right: 50px;
}
.accordion .panel-title a:after {
	content: '\f067';
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 18px;
	font-family: 'FontAwesome'
}
.accordion .panel-body {
	background: black; 
	color: white;
	font-size: 12px !important;
	padding: 20px 25px;
}
.accordion .panel-body *:not(a) {
	font-family: Nexa Light;
}
.accordion .panel-body {
	font-size: 12px !important;
	padding: 20px 25px;
}
.accordion .panel-body p, .accordion .panel-body table {
	margin: 0;
	padding: 0;
}

.gallery-shots .col-xs-4,
.gallery-shots .row {
    margin: 0;
    padding: 0;
}
.subscribe {
	padding: 50px 40px;
	background: url("../images/brush4-black.png") right bottom no-repeat;
}
.subscribe h5 {
	line-height: 1.6;
}
.subscribe .subscribeInput {
    width: calc(100% - 65px);
    border: 1px solid #000000;
    padding: 5px;
    height: 43px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
	display: inline-block;
}
.subscribeSubmit {
    display: inline-block;
    background-color: #000000;
    margin-left: -4px;
    border: none;
    height: 43px;
    color: #fff;
    padding: 5px 10px;
    font-family: Nexa Bold;
}
.blog .subscribe {
	border-top: 2px solid #000;
}
footer {
	border-top: 2px solid #000000;
	padding:20px 40px;
}
.footer-nav ul{
	margin: 0;
	padding:0;
}
.footer-nav li {
	display: inline-block;
	list-style-type: none;
    padding: 20px 10px;
    font-family: Nexa Bold;
}
.footer-nav li:first-child { padding-left: 0; }
.footer-nav li a {
	color: #000000;
	text-transform: uppercase;
	padding: 5px;
	font-size: 14px;
}
.footer-nav li a:hover {
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
}
.copyright {
	margin-top: 20px;
}
.copyright img {
	margin: 0 auto;
}
.featured-image img {
	width: 100% !important;
}
.titleBlack {    
	margin: 0;
    padding: 10px 5px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
}
.trigger-menu {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 25px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-size: 13px;
    display: none;
}
.responsive-nav {
	margin-top: 20px;
	text-align: right;
    margin-bottom: -2px;
    display: none;
}
.responsive-nav-list {
	margin: 0;
	padding: 0;
	text-align: left;
}
.responsive-nav-list li {
	list-style-type: none;
	display: block;
	background-color:#000000;
	border-bottom: 2px solid #ffffff;
}
.responsive-nav-list li:last-child {
	border-bottom: none;
}
.responsive-nav-list li a {
	color: #ffffff;
	display: block;
	padding: 15px;
	width: 100%;
	font-size: 15px;
	border: 1px solid black;
}
.responsive-nav-list li a:hover {
	background: white;
	text-decoration: none;
	font-size: 15px;
	color: black;
}
.homeSection {
	padding: 0;
}
.teacher {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.teacher img {
	width: 100%
}
.teacher-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	background:rgba(0,0,0,0.5);
	text-align:center;
	color: #ffffff;
	opacity:0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	height: 100%;
}
.teacher-overlay-content-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.teacher-overlay-content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

.teacher:hover .teacher-overlay {
	opacity: 1;
}
.teacher-overlay h3 { margin-bottom: 0; }
.single h2 { margin-top: 0; }
.booking-wizard-menu li {
    display: inline-block;
    list-style-type: none;
    width: 140px;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    margin-right: 15px;
    position: relative;
    padding-top: 30px;
}
.booking-wizard-menu li.current:before {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    top: -18px;
    left: calc(100% - 80px);
    color: #000000;
    font-size: 30px;
}

/* UTILITIES */
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

.text-white { color: #ffffff; }
.text-black { color: #000000; }

.uppercase { text-transform: uppercase; }
.right0 { right: 0; }
.left0 { left: 0; }

.bgBlack { background-color: #000000; }

.btn { 
	display: inline-block;
	text-align: center;
	padding: 20px;
    white-space: pre-line;
}
.btn-small { 
	padding: 10px;
}
.btn-white { 
	transition: 0.1s linear background-color, 0.1s linear color;
	background-color:#ffffff; 
	color: #000000;
}
.btn-white:hover {
	background-color: #000000;
	color: #ffffff;
	border: 1px solid white;
}
.btn-black {
	background-color: #000000;
	color: #ffffff !important;
    font-family: Nexa Light;
}
.btn-black:hover {
	background-color: #ffffff;
	color: #000000 !important;
	border: 1px solid #000;
}

.fontW300 { font-weight: 300; }
.fontW400 { font-weight: 400; }
.fontW500 { font-weight: 500; }
.fontW600 { font-weight: 600; }
.fontW700 { font-weight: 700; }

.fontS50 { font-size: 50px; }
.fontS45 { font-size: 45px; }
.fontS34 { font-size: 34px; }
.fontS30 { font-size: 30px; }
.fontS25 { font-size: 25px; }
.fontS20 { font-size: 20px; }
.fontS16 { font-size: 16px; }

.padT10 { padding-top: 10px; }
.padT20 { padding-top: 20px; }
.padT30 { padding-top: 30px; }
.padT40 { padding-top: 40px; }
.padT60 { padding-top: 60px; }

.padTB10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.padTB20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.padTB30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padTB40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.padTB60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.padTB140 {
	padding-top: 140px;
	padding-bottom: 140px;
}
.padLR10 {
	padding-left: 10px;
	padding-right: 10px;
}
.padLR20 {
	padding-left: 20px;
	padding-right: 20px;
}
.padLR30 {
	padding-left: 30px;
	padding-right: 30px;
}
.padLR40 {
	padding-left: 40px;
	padding-right: 40px;
}
.padLR60 {
	padding-left: 60px;
	padding-right: 60px;
}
.padLR140 {
	padding-left: 140px;
	padding-right: 140px;
}
.contact-input {
	margin-top: -2px;
}
.wpcf7-validation-errors, .wpcf7-response-output {
	background: red;
	color :white;
	border: 1px solid red !important;
	padding: 20px !important;
    font-family: Nexa Light;
}
.wpcf7-mail-sent-ok {
	background: green;
	color :white;
	border: 1px solid green !important;
	padding: 20px !important;
    font-family: Nexa Light;
}
.light {
	font-family: Nexa Light;
}
strong {
	font-family: Nexa Bold;
}
input, textarea, select {
    font-family: Nexa Light !important;
}
.input {
	border: 1px solid black;
	border-radius: 0;
	padding: 25px 15px;
	width: 100%;
}
.btn-group {
	width: 100% !important;
}
button.multiselect {
	text-align: left !important;
    padding: 10px !important;
    border: 1px solid black !important;
    border-radius: 0 !important;
	width: 100% !important;
	font-family: Nexa Light !important;
}
.multiselect-container.dropdown-menu a {
	font-weight: normal !important;
	font-size: 14px !important;
	font-family: Nexa Light !important;
}
.input:disabled {
	opacity: 0.4;
}
.input-small {
	padding: 10px;
}
.input.error {
	color: red;
}
button.error {
	border: 1px solid red !important;
}
.input.error {
	border: 1px solid red !important;
    outline-color: red;
}
label.error {
	display: none !important;
}
form[name=class] label.error, form[name=booking] label.error {
	display: block !important;
	color: red;
	font-weight: normal;
    font-family: Nexa Light;
}
.container {
	max-width: 1170px;
	width: 100%;
}

.no-border-top { border-top: none !important; }
.marL10 { margin-left: 10px; }
.marL20 { margin-left: 20px; }
.marL30 { margin-left: 30px; }
.marL40 { margin-left: 40px; }
.marL60 { margin-left: 60px; }
.marL80 { margin-left: 80px; }

.marR10 { margin-right: 10px; }
.marR20 { margin-right: 20px; }
.marR30 { margin-right: 30px; }
.marR40 { margin-right: 40px; }
.marR60 { margin-right: 60px; }
.marR80 { margin-right: 80px; }

.marB10 { margin-bottom: 10px; }
.marB20 { margin-bottom: 20px; }
.marB30 { margin-bottom: 30px; }
.marB40 { margin-bottom: 40px; }
.marB60 { margin-bottom: 60px; }
.marB80 { margin-bottom: 80px; }

.marT10 { margin-top: 10px; }
.marT20 { margin-top: 20px; }
.marT30 { margin-top: 30px; }
.marT40 { margin-top: 40px; }
.marT60 { margin-top: 60px; }
.marT80 { margin-top: 80px; }
.vertical-center {
    top: calc(50% - 150px);
    position: absolute;
    z-index: 3;
}
.hideInMobile { display: inline-block; }
.showInMobile { display: none; }

.hideInTablet { display: inline-block; }
.showInTablet { display: none; }

.mobileTransWhiteBg { background-color: transparent; }
.mobileTransBlackBg { background-color: transparent; }

.mc4wp-alert p {
	font-family: Nexa Bold !important;
}
.mc4wp-notice {
	color: yellow;
}
.mc4wp-error {
	color: red;
}
.mc4wp-success {
	color: green;
}
/* END UTILITIES */

/* MEDIA QUERIES */
@media screen and (max-width:1139px) {
	nav li,
	.social-icons li {
		padding: 10px 5px;
	}
}
@media screen and (max-width:1023px) {
	h1 { font-size:45px; }
	h2 { font-size:40px; }
	h3 { font-size:22px; }
	p,li,a { font-size: 18px; }
	.fontS50 { font-size: 45px; }
	.fontS45 { font-size: 40px; }
	.fontS34 { font-size: 30px; }
	.fontS30 { font-size: 28px; }
	.fontS25 { font-size: 22px; }
	.padTB40,
	.padTB60 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.padTB140 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.padLR40,
	.padLR60 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.padLR140 {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media screen and (max-width: 1150px) {
	.teacher-overlay-content h3 {
		font-size: 20px !important;
	}
	.teacher-overlay-content p {
		font-size: 18px !important;
	}
	.teacher-overlay-content .btn {
		padding: 5px !important;
		font-size: 12px;
	}
}
@media screen and (max-width: 991px) {
	.hideInTablet { display: none !important; }
	.showInTablet { display: block !important; }
	.header .logo {
		min-width: 380px;
	}
	.trigger-menu {
		font-size: 22px;
	}
	.responsive-nav {
		text-align: center;
		font-size: 15px;
		margin-bottom: 0;
	}
	.mobile-social {
		display: inline-block;
		padding: 5px;
	}
	.mobile-social a, .mobile-social span {
		font-size: 16px;
	}
	.footer-nav ul li {
		display: block;
		text-align: center;
		margin: 0;
		padding: 5px;
	}
	footer .social-icons {
		display: block !important;
		text-align: center !important;
	}
	.trigger-menu {
		display: inline-block;
	}

	.hideIn991 { display: none !important; }
	.showIn991 { display: block !important; }
	.vertical-center {
	    top: 0;
	    position: relative;
	    z-index: 3;
	}
	.homeSection {
		padding: 40px;
		text-align: center;
	}
	.brushbg2,
	.brushbg3 {
		background-position: center top;
	}
}
@media screen and (max-width:767px) {


	.mc4wp-alert p {
		padding:  10px;
	    background:  white;
	    margin-left: -3px;
	    margin-top: 10px;
	}
	.subscribeSubmit {
		margin-left: 0;
	}
	.header .col-sm-4 {
	    width: 280px;
	}
	.header .logo {
		min-width: 200px;
	}
	.trigger-menu {
		font-size: 14px;
		padding: 10px 15px;
		margin-top: -39px !important;
	}
	.teacher-overlay-content h3 {
		font-size: 30px !important;
	}
	.teacher-overlay-content p {
		font-size: 20px !important;
	}
	.teacher-overlay-content .btn {
		padding: 20px !important;
		font-size: 15px;
	}

	.frs-caption-content h4 {
		display: none;
	}
	.frs-caption-content p {
		font-size: 30px !important;
		line-height: 30px !important;
	}

	.two-column .left-content {
		text-align: center;
		margin-bottom: 30px;
	}
	.teacher-image {
		float: none !important;
		margin-right: 0 !important;
	}
	.teacher-image img {
		width: 100%;
	}
	.what-we-do { margin-left: 0 !important; }
	h1 { font-size:40px; }
	h2 { font-size:32px; }
	h3 { font-size:20px; }
	p,li,a { font-size: 16px; }
	.fontS50 { font-size: 40px; }
	.fontS45 { font-size: 34px; }
	.fontS34 { font-size: 24px; }
	.fontS30 { font-size: 20px; }
	.fontS25 { font-size: 20px; }
	.hideInMobile { display: none !important; }
	.showInMobile { display: block !important; }
	.text-right { text-align: left; }
	.btn { width: 100%; }
	.inner-content { padding: 30px 20px; }
	.blog .sidebar {
		margin-top: 40px;
	}
	.padTB140 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.padLR140 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.mobileTransWhiteBg { background-color: rgba(255,255,255,0.4); padding: 25px 10px; }
	.mobileTransBlackBg { background-color: rgba(0,0,0,0.4); }
	footer .col-sm-8,
	footer .col-sm-4 {
		text-align: center;
	}
	.vertical-center {
	    top: 0;
	    position: relative;
	    z-index: 3;
	}
	.homeSection {
		padding: 40px;
		text-align: center;
	}
	.brushbg2,
	.brushbg3 {
		background-position: center top;
	}
	.booking-wizard-menu {
		padding: 0;
	}
	.booking-wizard-menu li {
		display: block;
		position: relative;
		padding-left: 30px;
		width: 200px;
		text-align: left;
		padding-top: 20px;
	}
	.booking-wizard-menu li.current:before {
	    content: '\f0da';
	    top: 20%;
	    left: 0;
	}
	.trigger-menu {
		margin-top: -58px;
	}
	.subscribeInput, .subscribeSubmit {
		width: 100% !important;
	}
	.subscribeSubmit {
		margin-top: 10px;
	}
}
@media screen and (max-width: 380px) {
	.header {
		padding: 20px;
	}
	.header .logo {
		width: 150px;
	}
	.teacher-overlay-content h3 {
		font-size: 20px !important;
	}
	.teacher-overlay-content .btn {
		padding: 5px !important;
		font-size: 12px;
	}
	.teacher-overlay-content p {
		font-size: 18px !important;
	}
}
/* END MEDIA QUERIES */